.container {
    width: 350px;
}

.btn-group {
    margin-bottom: 15px;
}

#off:hover,
#off.active {
    background: red;
}

#on:hover,
#on.active {
    background: green;
}


#off {
    background: gray;
    color: #fff;
    border: none;
    padding: 3px 10px;
}

#on {
    background: gray;
    color: #fff;
    border: none;
    padding: 3px 10px;
}

.data-group {
    border-bottom: dashed thin grey;
    width: 100%;
    padding: 5px 0;
}

.data-group span:first-child  {
    display: inline-block;
    width: 70px;
}

.data-group span:nth-child(2)  {
    display: inline-block;
    font-weight: 500;
}

.previous_session h4 {
    margin-bottom: 0px;
}

.previous_session.hide {
    display: none;
}